<!DOCTYPE html>
<html lang="it">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
    <script src="/public/js/bootstrap.js" charset="utf-8"></script>
    <script src="/public/js/fusioncharts.js"></script>
    <script src="/public/js/fusioncharts.charts.js"></script>
    <script src="/public/js/fusioncharts.theme.zune.js"></script>
</head>
<body>
<div id="table-location">

</div>
<br/>

<div id="chart-location">

</div>
<script id="tabular-template" type="text/html">
    <h2>Tabella movimenti</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td><b>Mese</b></td>
            \{{#each categories}} <td>\{{label}}</td> \{{/each }}
        </tr>
        </thead>
        <tbody>
        \{{#each dataset}}
        <tr>
            <td><b>Importo</b></td>
            \{{#each data}} <td>\{{value}}</td> \{{/each}}
        </tr>
        \{{/each}}
        </tbody>
    </table>
</script>
</body>
</html>
</html>