<HTML lang="it">
<head>
<title>Homepage</title>
    <script type="text/javascript"   src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript"   src="js/stepcarousel.js"></script>
</head>
<body>
<div align="center">
    <h3>Benvenuto nella Banca Nazionale Italiana!</h3><br>
    Accedi per entrare nell'Area riservata oppure registrati se sei un nuovo cliente.<br><br>
    <!--<img src="../public/css/bancaitalia.jpg" width="50%">-->

<marquee behavior='slide'  onmouseover=this.stop() onmouseout=this.start()
         direction="left"  scrolldelay="11" width="1140" height="300">
    <a>
        <img src="../public/css/Milano_Banca_Italia.jpg" width="396px"><img src="../public/css/bancaitalia.jpg" width="400px"><img src="../public/css/bancaItalia.jpg" width="385px">
    </a>

</marquee>
</div>
</body>
</HTML>