


 <!DOCTYPE html>
 <html lang="it">
 <h2 class="page-header" align="center">Homepage</h2>


 <body>
 <div align="center">
 <div class="container" align="center">

         <div class="caption" >
             <img src="http://www.bankopening.co.uk/img/logo.png" alt="..." width="180px" class="img-responsive">
             <div class="caption" ><br>

                 <p class="descrizione">Benvenuti nel portale bancario di Roccopoli. Qui potrai vedere varie informazioni riguardo il tuo profilo bancario.<br>Potrai effettuare pagamenti o vedere i tuoi movimenti bancari oppure osservare un grafico della tua situazione bancaria.</p>

             </div>
         </div>

 </div><br>



 <section class="get">
     <a href="/users/show">Qui</a> potrai vedere i tuoi movimenti bancari.
 </section>
 <section class="get">
     <a href="/bank/grafico">Qui</a> potrai vedere il grafico della tua situazione bancaria.
 </section>


 </div>
 </body>

 </html>
