<!DOCTYPE html>
 <html lang="it">
 <h2 class="page-header" align="center">Homepage</h2><br>

 <body>

 <div class="container" align="center">

         <div class="caption" >
             <img src="/public/css/bank-icon.jpg" width="300px"
                  class="img-responsive">
             <div class="caption" >

                 <p class="descrizione">Benvenuti nel portale bancario di Roccopoli.<br>
                     Qui potrai vedere varie informazioni riguardo il tuo profilo bancario.<br>
                     Potrai effettuare pagamenti o vedere i tuoi movimenti bancari oppure osservare un grafico
                     della tua situazione bancaria.</p>

             </div>
         </div><br>
 </div>
 </body>

 </html>
