<form method="post" action="/users/insert">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="Nome" name="name">
    </div>
    <div class="form-group">
    <label>Cognome</label>
    <input type="text" class="form-control" placeholder="Cognome" name="cognome">
    </div>
    <div class="form-group">
        <label>Data di nascita</label>
        <input type="text" class="form-control" placeholder="Data di nascita" name="data">
    </div>
    <div class="form-group">
        <label>Luogo di nascita</label>
        <input type="text" class="form-control" placeholder="Luogo di nascita" name="luogo">
    </div>
    <div class="form-group">
        <label>Residenza</label>
        <input type="text" class="form-control" placeholder="Residenza" name="residenza">
    </div>
    <div class="form-group">
        <label>Cod. Fis.</label>
        <input type="text" class="form-control" placeholder="Codice Fiscale" name="codice">
    </div>
    <div class="form-group">
        <label>Saldo</label>
        <input type="text" class="form-control" placeholder="Saldo" name="saldo">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>