<h2 class="page-header">Benvenuto straniero!</h2><br>
<p align="center">Accedi se sei già registrato per entrate nel tuo profilo banca oppure registrati per effettuare le operazioni.</p><br>
<form method="post" action="/users/login">
    <div align="center">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" style="width: 300px;" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" style="width: 300px;" name="password" placeholder="Password">
  </div>
    </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>