<h2 class="page-header">Pagamento</h2>
<div align="center">
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="/users/pay">
    <div class="form-group">
        <label>ID movimento</label>
        <input type="number" class="form-control" style="width: 300px;" placeholder="ID movimento" name="ID">
    </div>
    <div class="form-group">
        <label>Tipologia operazione</label><br>
        <select name="tipo">
            <option value="Bonifico">Bonifico</option>
            <option value="Pagamento">Pagamento</option>
        </select>
    </div>


    <div class="form-group">
        <label>Mese</label><br>
        <select name="mese">
            <option value="Gennaio">Gennaio</option>
            <option value="Febbraio">Febbraio</option>
            <option value="Marzo">Marzo</option>
            <option value="Aprile">Aprile</option>
            <option value="Maggio">Maggio</option>
            <option value="Giugno">Giugno</option>
            <option value="Luglio">Luglio</option>
            <option value="Agosto">Agosto</option>
            <option value="Settembre">Settembre</option>
            <option value="Ottobre">Ottobre</option>
            <option value="Novembre">Novembre</option>
            <option value="Dicembre">Dicembre</option>
        </select>
    </div>
    <div class="form-group">
        <label>Nome mittente</label>
        <input type="text" class="form-control" style="width: 300px;" placeholder="Nome Mittente" name="nomemit">
    </div>
    <div class="form-group">
        <label>Nome destinatario</label>
        <input type="text" class="form-control" style="width: 300px;" placeholder="Nome Destinatario" name="nomedes">
    </div>

    <div class="form-group">
        <label>Importo</label>
        <input type="number" class="form-control" style="width: 300px;" placeholder="Importo" name="importo">
    </div>

    
    <button type="submit" class="btn btn-default">Procedi</button>
</form>
</div>