

<h1>{{title}}</h1>


<div class="container" align="center" >
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.bankopening.co.uk/img/logo.png" alt="..." class="img-responsive">
            <form action="/user/signup">
            <div class="caption" >
                <h3>Salve a tutti!</h3>
                <p class="descrizione">Benvenuto! Accedi per visualizzare il tutto!</p>
                <p><button href="/user/signup" type="button" class="btn btn-outline-dark">Accedi</button> </p>
            </div>
            </form>
        </div>
    </div>
</div>


